
<p>
The goal is a healthier planet, one snck at a time!
</p>

<p>
<ul>
	<li>Whole, organic, non-GMO food from local farms</li>
	<li>Healthy sncks lead to healthy and happier people</li>
	<li>Sponsor local food banks</li>
	<li>Portion of profits donated to local charities</li>
</ul>
</p>

</div>