<h3>Contact</h3>
<br>

<form action="/contact" method=POST>
	<label>Email</label>
	<input type="text" name="email" value="Email">
	<br><br>
	<label>Leave a Message</label>
	<br>
	<textarea name="message" rows="4" cols="30" wrap=virtual>Write something sweet!</textarea>
	<br><br>
	<input type="submit" value="Send">
</form>