	<div id="preload">
	       	<img src="/images/cutting_board_salad.jpg">
	       	<img src="/images/raspberyy_mug.jpg">
	       	<img src="/images/onion_chop.jpg">
	       	<img src="/images/strawberry_cereal.jpg">
    </div>
       	
       	<main>
       	 
	        <section id="slide-1" class="homeSlide">
	        	<div class="bcg">
		        	<div class="hsContainer">
			    		<div class="hsContent">
				    		<h2>Look at this fresh salad</h2>
			    		</div>
		        	</div>
	        	</div>
		    </section>
		    
		    <section id="slide-2" class="homeSlide">
		    	<div class="bcg">
			    	<div class="hsContainer">
			    		<div class="hsContent">
				    		<h2>Luscious red raspberries</h2>
			    		</div>
		        	</div>
		    	</div>
		    </section>
		    
			<section id="slide-3" class="homeSlide">
				<div class="bcg">
			    	<div class="hsContainer">
		    			<div class="hsContent">
				    		<h2>Now go and create your own Snck</h2>
			    		</div>
			    	</div>
			    	
			    </div>
			</section>
			
			<section id="slide-4" class="homeSlide">
				<div class="bcg">
			    	<div class="hsContainer">
		    			<div class="hsContent">
				    		<h2>for a healthy life!</h2>
			    		</div>
			    	</div>
			    	
			    </div>
			</section>
		    
		</main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/js/imagesloaded.js"></script>
        <script src="/js/skrollr.js"></script>
        <script src="/js/_main.js"></script>