<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/main.css">
    <script src="public/js/vendor/modernizr-2.7.1.min.js"></script>
	<title><%= @title %></title>
</head>

<body class="loading">
	<div id="top-gray-bar"></div>
	<div id="top-blue-bar">.</div>
	<header>
		<img id="logo" src="http://nycda.zone/collazo722/images/snck.png" width="144">	
		<nav class="nav">
			<ul>
				<li><a href="/">HOME</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li></li>
				<li><a href="/products">MARKET</a></li>
				<li><a href="/contact">CONTACT</a></li>
			</ul>
		</nav>
	</header>


<%= yield %>



</body>
</html>


