<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<title><%= @title %></title>
</head>

<body>
	<div id="top-gray-bar"></div>
	<div id="top-blue-bar">.</div>
	<header>
		<img id="logo" src="http://nycda.zone/collazo722/images/snck.png" width="144">	
		<nav class="nav">
			<ul>
				<li><a href="/home">HOME</a></li>
				<li><a href="/about/">ABOUT</a></li>
				<li></li>
				<li><a href="/market/">MARKET</a></li>
				<li><a href="/contact/">CONTACT</a></li>
			</ul>
		</nav>
	</header>

<%= yield %>



</body>
</html>


