<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<title><%= @title %></title>
</head>

<body>
	<div id="top-gray-bar"></div>
	<div id="top-blue-bar">.</div>
	<header>	
		<nav class="nav">
			<ul>
			 <li><a href="/html/">HOME</a></li>
			 <li><a href="/css/">ABOUT</a></li>
			<!-- Logo goes here -->
			<li><a href="/js/">MARKET</a></li>
			<li><a href="/jquery/">CONTACT</a></li>
			</ul>
		</nav>
	</header>

<%= yield %>



</body>
</html>


