<div class="bcg">
	<font size="4" color="#4183d7">
	<p>
	These are the products we have available now
	</p>

	<img width=300px align="left" style="padding:20px" src="../images/market_box6_v1.jpg">
	<img width=300px align="right" style="padding:20px" src="../images/market_box6_v2.jpg">
	</font>
</div>